.DS_Store
__pycache__/
.vscode/
*.csv
tpch_data/
data/
results/
results_ablation/
.venv/
.ipynb_checkpoints/
*/.ipynb_checkpoints/
# LaTeX Auxiliary files
*.aux
*.log
*.out
*.fdb_latexmk
*.fls
*.synctex.gz
*.toc
*.bbl
*.blg
main.pdf